{{!< default}}
<header class="page-head">
    <h1 class="page-head-title">Newsletter</h1>
    <p class="page-head-description">The most important stories, ideas and resources about independent publishing.
        Straight to your inbox, every Sunday.</p>
    {{#if @labs.members}}
    {{> subscribe-form}}
    {{/if}}
</header>

<div class="news-feed-header">{{plural pagination.total empty='No issues' singular='% issue' plural='% issues'}}</div>

<div class="news-feed">
    {{#foreach posts}}
    <a class="news-item" href="{{url}}">
        <div class="news-item-content">
            <time class="post-content-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
            <h2 class="news-item-title">{{title}}</h2>
            <p>{{excerpt}}</p>
        </div>
        <div class="news-item-img" srcset="{{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 600w,
                        {{img_url feature_image size="l"}} 1000w,
                        {{img_url feature_image size="xl"}} 2000w" sizes="(max-width: 1000px) 400px, 700px"
            style="background-image:url({{img_url feature_image size="m"}});">
        </div>
    </a>
    {{/foreach}}
</div>

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
{{!-- Scripts for Members subscription --}}

{{/contentFor}}